@import "../variables";
.login-header{
    text-align: center;
    margin-top: 50px;
    h3{
        font-family: $font-museo;
        font-weight: 300;
        font-size: 1em;
        text-align: center;
        margin-top:30px;
        margin-bottom:30px;
    }
}

#login{
    width:250px;
    margin:auto;
    padding: 10px;

    input{
        width:100%;
        margin-top:5px;
        margin-bottom:21px;
    }

}