@import "variables";
*{
    font-family: $font-source-code-pro;
    font-size: 15px;
}


input {
    border-radius: 3px;
	background-color: #ffffff;
	border: solid 1px #e5e5e5;
    font-size: 0.8em;
    height: 2.6em;
}
.btn{
    background: $green-accent;
    border:none;
    border-radius: 3px; 
    color:white;
    font-family: $font-opensans;
    width: 215px;
}
