@mixin museo-h1($color){
        font-family: $font-museo;
        font-weight: 500;
        font-size: 25px;
        color:$color;
        padding: 20px 0px
}   

@mixin opensans($color, $size){
        font-family: $font-opensans;
        font-size: $size;
        color:$color;
        padding: 20px 0px;
}   