// COLORS
$grey-Lab : #2b2b2b;
$yellow-Lab : #f7b617;

$morado-slack : #4d394b;
$green-accent : #7ed321;
$blue-accent: #5b98dc;
$purple-accent: #885cbf;
$squad-accent: #e6a94b;
$grey-btn: #adadad;
$light-text: #676565;
$dark-text: #202020;


@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$font-monserrat : 'Montserrat', sans-serif;
$font-opensans: 'Open Sans', sans-serif;
$font-museo: "museo-sans",sans-serif;
$font-source-code-pro: "Source Code Pro", sans-serif;
